.box{
    width: 700px;
    height: 500px;
    background-color: rgb(24, 104, 28);
    margin: 0 auto;
    background-image: url(../img/pole-zelen-trava-dom-derevya.webp), url(../img/green-png-44873.png), url(../img/3F3F.webp), url(../img/58eb07b830eab15b56162788.png) , url(../img/lamp-png-34914.png) ; 
    background-repeat: no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-size: 300px 200px, 150px, 50px, 50px, 30px;
    background-position: center, bottom, left, right, top ;
    
    
}
